---
layout: template.njk
permalink: "{{ page.filePathStem }}/{{ photo }}.html"
pagination: 
  data: photos 
  size: 1 
  alias: photo 
eleventyComputed: 
  thumbDir: "/{{photoDir}}/{{page.filePathStem.split('/')[1]}}/thumbs/"
  largeDir: "/{{photoDir}}/{{page.filePathStem.split('/')[1]}}/large/"
  previous: "{{ pagination.page.previous or pagination.page.last }}"
  next: "{{ pagination.page.next or pagination.page.first }}"
---

<div class="slide">
  <header class="slide__header">
    <h1 class="slide__title">
      <a href="../index.html#{{ photo }}" class="slide__title-link">{{ title }}</a>
    </h1>
    <h2 class="slide__subtitle">Slide {{ pagination.pageNumber + 1 }} / {{ pagination.pages.length }} : {{ photo }}</h2>

      
      <nav class="gallery__nav">
          <div class="gallery__nav-item">
            <a href="../index.html" class="gallery__nav-link">
              <span class="gallery__nav-arrow gallery__nav-arrow--prev"></span> Gallery View
            </a>
          </div>
      </nav>
    {% include "partials/social-media-warning.njk" %}
  </header>
    <div id="slide-image" class="slide-image">
      <div class="slide-image__img-wrap">
        <img src="{{ largeDir + photo + '.jpg' }}" alt="{{ photo }}" class="slide-image__img {% landPortClass photo, page.filePathStem %}">
        <div class="slide-image__nav"> 
          <a href="{{ previous }}.html#slide-image" class="slide-image__nav-item slide-image__nav-item--prev">
            {% if previousSlide != "#" %}
              <span class="slide-image__nav-arrow slide-image__nav-arrow--prev"></span>
            {% endif %}
          </a>
          <a href="{{ next }}.html#slide-image" class="slide-image__nav-item slide-image__nav-item--next">
            {% if nextSlide != "#" %}
              <span class="slide-image__nav-arrow slide-image__nav-arrow--next"></span>
            {% endif %}
          </a> 
        </div>
      </div>
  </div>
</div>
<nav class="slide-nav">
  <ul class="slide-nav__list">
    <li class="slide-nav__item slide-nav__item--previous">
      <a href="{{ previous }}.html#slide-image" class="slide-nav__link">
        <div class="slide-nav__text">Previous Slide</div>
        <div class="slide-nav__img-wrap {% landPortClass previous, page.filePathStem %}">
          <img src="{{ thumbDir + previous + '_thumb.jpg'}}" alt="Previous thumb" class="slide-nav__img">
        </div>
      </a>
    </li>
    <li class="slide-nav__item  slide-nav__item--gallery">
      <a href="../index.html#{{ photo }}" class="slide-nav__link">Gallery</a>
    </li>
    <li class="slide-nav__item slide-nav__item--next">
      <a href="{{ next }}.html#slide-image" class="slide-nav__link">
        <div class="slide-nav__text">Next Slide</div>
        <div class="slide-nav__img-wrap {% landPortClass next, page.filePathStem %}">
          <img src="{{ thumbDir + next + '_thumb.jpg'}}" alt="Next thumb" class="slide-nav__img">
        </div>
      </a>
    </li>
  </ul>
</nav>