---
layout: template.njk
---

<div class="gallery">
<h1 class="gallery__title">{{ title }}</h1>
  <div class="gallery__thumbnails">
    {% for photo in photos %}
      {%- thumbHTML photo, page.fileSlug  -%}
    {% else %}
      <li>No photographs in this gallery.</li>
    {% endfor %}
  </div>
</div>
