@charset "UTF-8";
.page-content, .top-menu {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4vw;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: clamp(0.7rem, 1.8vw, 1.1rem); */
  font-size: 1.2rem;
  color: teal;
  margin: 0;
}

a,
a:visited {
  color: teal;
  text-decoration: none;
}

img {
  display: block;
}

.top-menu {
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-top: 25px;
  margin-bottom: 1em;
}
.top-menu__link, .top-menu__link:visited {
  background-color: teal;
  color: white;
  padding: 0.2em 0.75em;
}

.page-content {
  position: relative;
  min-height: 95vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  min-height: 70vh;
  margin-bottom: 100px;
}

.index-page__title {
  font-weight: 200;
  font-size: 3rem;
}
.index-page__sub-title {
  font-weight: 400;
  font-size: 2rem;
}
.index-page__list-item {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.index-page__list-item::marker {
  content: "➯ ";
  color: teal;
  font-size: 1.2rem;
}

.gallery__title {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  font-weight: 200;
  margin-bottom: 2em;
  padding-bottom: 0.4em;
  border-bottom: 2px solid teal;
}
.gallery__thumbnails {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2vw;
}
@media only screen and (min-width: 450px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 750px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(4, 1fr);
  }
}

.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  container-type: inline-size;
}
.thumb__link {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.thumb__img {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 0 auto;
}
.thumb--portrait .thumb__img {
  width: 66.667%;
}
.thumb--landscape .thumb__img {
  width: 100%;
}
.thumb__title {
  font-size: 7cqw;
  text-align: center;
  word-break: break-all;
  margin-top: 0.5em;
}

.footer {
  margin-bottom: 50px;
}
.footer__spacer {
  display: none;
}
@media only screen and (min-width: 450px) {
  .footer {
    display: flex;
    gap: 25px;
  }
  .footer__spacer {
    display: block;
  }
}