@charset "UTF-8";
.page-content, .menu-bar {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4vw;
}

.highlight__p .highlight__a:hover, .footer__email a:hover, .slide-nav__item--previous .slide-nav__link:hover, .slide-nav__item--next .slide-nav__link:hover, .slide__title-link:hover, .thumb__title-link:hover, .index-page__list-item-link:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.1em;
  text-decoration-style: dotted;
  text-decoration-skip-ink: all;
}

.slide-nav__item--gallery .slide-nav__link:hover, .top-menu__link:hover {
  background: #004d4d;
}

.slide__title, .gallery__title {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  font-weight: 200;
}

.slide__subtitle, .gallery__title {
  margin-bottom: 0em;
  padding-bottom: 0.4em;
  border-bottom: 2px solid teal;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: clamp(0.7rem, 1.8vw, 1.1rem); */
  font-size: 1.2rem;
  color: teal;
  margin: 0;
}
body.theme--dark {
  background: black;
}

a,
a:visited {
  color: teal;
  text-decoration: none;
}

img {
  display: block;
}

.menu-bar {
  margin-top: 25px;
}
@media (min-width: 380px) {
  .menu-bar {
    display: flex;
    justify-content: space-between;
  }
  .home .menu-bar {
    justify-content: flex-end;
  }
}

.theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
@media (min-width: 380px) {
  .theme-switch {
    margin-top: 0;
  }
}
.theme-switch__toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.theme--dark .theme-switch__text {
  color: white;
}
.theme--light .theme-switch__text {
  color: black;
}
.theme-switch__check {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch__check:checked + .theme-switch__slider {
  background-color: black;
}
.theme-switch__check:focus + .theme-switch__slider {
  box-shadow: 0 0 1px black;
}
.theme-switch__check:checked + .theme-switch__slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.theme-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.theme-switch__slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: teal;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.top-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: teal;
  padding: 0 20px;
  font-size: 1.25rem;
  border-radius: 100px;
}
.top-menu__link, .top-menu__link:visited {
  color: white;
}
.page-content {
  position: relative;
  min-height: 95vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  min-height: 70vh;
  margin-bottom: 100px;
}

.index-page__title {
  font-weight: 200;
  font-size: 3rem;
}
.index-page__sub-title {
  font-weight: 400;
  font-size: 2rem;
}
.index-page__list-item {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.index-page__list-item::marker {
  content: "➯ ";
  color: teal;
  font-size: 1.2rem;
}
.gallery__thumbnails {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2vw;
}
@media only screen and (min-width: 450px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 750px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(4, 1fr);
  }
}

.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  container-type: inline-size;
}
.thumb__link {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.thumb__img {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 0 auto;
}
.thumb.portrait .thumb__img {
  width: 66.667%;
}
.thumb.landscape .thumb__img {
  width: 100%;
}
.thumb__title {
  font-size: 6cqw;
  text-align: center;
  word-break: break-all;
  margin-top: 0.5em;
}
.slide__subtitle {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 200;
  text-align: center;
}
.theme--dark .slide__img {
  border: 1px solid #101010;
}
.slide__img {
  border: 1px solid #efefef;
  margin: 0 auto;
}
.slide__img.landscape {
  width: 100%;
  max-width: 800px;
  height: auto;
}
.slide__img.portrait {
  max-height: 90vh;
  width: auto;
}

.slide-nav {
  margin-top: 100px;
  padding-top: 1em;
  border-top: 2px solid teal;
}
.slide-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide-nav__item--previous {
  order: 1;
  width: 50%;
}
.slide-nav__item--next {
  order: 2;
  width: 50%;
}
.slide-nav__item--gallery {
  order: 3;
  width: 100%;
  text-align: center;
}
@media (min-width: 460px) {
  .slide-nav__list {
    flex-wrap: nowrap;
  }
  .slide-nav__item--previous {
    order: 1;
    width: auto;
  }
  .slide-nav__item--next {
    order: 3;
    width: auto;
  }
  .slide-nav__item--gallery {
    order: 2;
    width: auto;
  }
}
.slide-nav__text {
  margin-bottom: 1em;
}
.slide-nav .slide-nav__item--next .slide-nav__text::after, .slide-nav__item--next .slide-nav .slide-nav__text::after, .slide-nav .slide-nav__item--previous .slide-nav__text::before, .slide-nav__item--previous .slide-nav .slide-nav__text::before {
  content: "➯";
  display: inline-block;
  color: teal;
  font-size: 1.5rem;
  padding-left: 0.5em;
}
.slide-nav__item--previous .slide-nav__text::before {
  transform: scale(-1, 1);
}
.slide-nav__item--next .slide-nav__text {
  text-align: right;
}
.slide-nav__item--gallery .slide-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: teal;
  padding: 0 20px;
  border-radius: 50px;
  height: 38px;
}
.slide-nav__img-wrap {
  display: none;
  width: 250px;
  aspect-ratio: 3/2;
  overflow: hidden;
}
@media only screen and (min-width: 655px) {
  .slide-nav__img-wrap {
    display: block;
  }
}
.slide-nav__img {
  width: 100%;
  object-position: center;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-bottom: 50px;
}
.footer__spacer {
  display: none;
}
@media only screen and (min-width: 450px) {
  .footer {
    display: flex;
    gap: 25px;
  }
  .footer__spacer {
    display: block;
  }
}

.highlight {
  font-weight: bold;
  text-align: center;
  background-color: teal;
  color: white;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 5em;
}
.highlight__p {
  margin: 0;
  padding: 0;
}
.highlight__p .highlight__a {
  color: white;
}