<div class="highlight">
  <p class="highlight__p">* Please don't put these photos on social media, but feel free to share links to these pages.
    <a href="{{ 'privacy.njk' | inputPathToUrl }}" class="highlight__a">See the privacy page.</a>
  </p>
</div>