---
permalink: css/style.css
---

$primary: teal;
$gallery-grid-gap: 25px;
$default-thumb-size: 290px;
$max-content-width: 1300px;

%content-width {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 $gallery-grid-gap;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
    'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: clamp(0.8rem, 1.8vw, 1.5rem);
  color: $primary;
  margin: 0;
}

a,
a:visited {
  color: $primary;
  text-decoration: none;
}

img {
  display: block;
}

.top-menu {
  @extend %content-width;
  margin-top: 25px;

  &__link,
  &__link:visited {
    background-color: teal;
    color: white;
    padding: 0.2em 0.75em;
  }
}

.page-content {
  @extend %content-width;
  position: relative;
  min-height: 95vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  min-height: 70vh;
  margin-bottom: 100px;
}

.index-page {
  &__title {
    font-weight: 200;
    font-size: 3rem;
  }
  &__sub-title {
    font-weight: 400;
    font-size: 2rem;
  }
  &__list-item::marker {
    content: '\27AF  ';
    color: $primary;
    font-size: 1.2em;
  }
}

.gallery {
  &__title {
    font-weight: 200;
    margin-bottom: 2em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid $primary;
  }

  &__thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gallery-grid-gap;
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 970px) {
      grid-template-columns: repeat(auto-fill, minmax($default-thumb-size, 1fr));
    }
  }
}

.thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;

  &__link {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1.5;
    margin-bottom: 0.5em;
  }

  &__img {
    max-height: $default-thumb-size;
    max-width: 100%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 25px;
}
