---
permalink: css/style.css
---

$primary: teal;
$gallery-grid-gap: 2vw;
$default-thumb-size: 290px;
$max-content-width: 1300px;

%content-width {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 $gallery-grid-gap * 2;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
    'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  /* font-size: clamp(0.7rem, 1.8vw, 1.1rem); */
  font-size: 1.2rem;
  color: $primary;
  margin: 0;
}

a,
a:visited {
  color: $primary;
  text-decoration: none;
}

img {
  display: block;
}

.top-menu {
  @extend %content-width;
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-top: 25px;
  margin-bottom: 1em;

  &__link,
  &__link:visited {
    background-color: teal;
    color: white;
    padding: 0.2em 0.75em;
  }
}

.page-content {
  @extend %content-width;
  position: relative;
  min-height: 95vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  min-height: 70vh;
  margin-bottom: 100px;
}

.index-page {
  &__title {
    font-weight: 200;
    font-size: 3rem;
  }
  &__sub-title {
    font-weight: 400;
    font-size: 2rem;
  }
  &__list-item {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  &__list-item::marker {
    content: '\27AF  ';
    color: $primary;
    font-size: 1.2rem;
  }
}

.gallery {
  &__title {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    font-weight: 200;
    margin-bottom: 2em;
    padding-bottom: 0.4em;
    border-bottom: 2px solid $primary;
  }

  &__thumbnails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $gallery-grid-gap;

    @media only screen and (min-width: 450px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 750px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  container-type: inline-size;

  &__link {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  &__img {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 0 auto;
  }

  &--portrait &__img {
    width: 66.667%;
  }

  &--landscape &__img {
    width: 100%;
  }

  &__title {
    font-size: 7cqw;
    text-align: center;
    word-break: break-all;
    margin-top: 0.5em;
  }
}

.footer {
  margin-bottom: 50px;

  &__spacer {
    display: none;
  }

  @media only screen and (min-width: 450px) {
    display: flex;
    gap: 25px;

    &__spacer {
      display: block;
    }
  }
}
