---
title: Privacy
permalink: "privacy.html"
---

<h1 class="index-page__title">{{ title }}</h1>

<ul>
  <li>Please don't put these photos on social media. 
  Feel free to share page links with people who might like to see the photos: 
  people who were there, people who are members of the clubs involved etc.</li>
  <li>These pages are not accessible to search engines.</li>
  <li>These pages do not:
    <ul>
      <li>use cookies;</li>
      <li>use tracking;</li>
      <li>use or store any personal data.</li>
    </ul>
  </li>
</ul>